.productsBox-table-tr {}

.productsBox-table-tr-th {
    padding: .5rem 0;
    border-bottom: 1px solid var(--white);
}

.productsBox-table-tr-td {
    padding: .5rem 0;
    width: 20%;
    color: var(--gray);

}

.productsBox-table-tr-td-btn {
    margin-right: .5rem;
    width: 5rem;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: .2rem;
    background-color: var(--btn);
}

/* .productsBox-table-tr-td-btn.delete {
    background-color: var(--red);
} */

.productsBox-table-tr-td-btn:hover {
    cursor: pointer;
    background-color: var(--hover);
    color: var(--white);
}

.editModal-inputBox {
    border-bottom: 1px solid var(--white);
    display: flex;
    align-items: end;

}

.editModal-inputBox-input {
    width: 20rem;
    font-size: 20px;
    margin-top: 1.5rem;
    border: none;
    outline: none;
    background-color: var(--gray-dark);
    color: var(--white);
}

.editModal-inputBox-icon {
    scale: 2;
    padding: .5rem;
    color: var(--btn);
}

.editModal-inputBox-icon:hover {
    cursor: pointer;
    color: var(--hover);
}